<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Password Reset Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #000000;
            margin: 0;
            padding: 0;
        }
        .content {
            font-size: 14px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content">
        <p>Hello <span th:text="${username}"></span>,</p>

        <p>We wanted to let you know that your Jarvis password was reset.</p>

        <p>If you did not perform this action, you can recover access by entering <a th:text="${email}"></a> into the
            form at <a th:href="${password_reset}"></a>

        <p>Please do not reply to this email with your password. We will never ask for your password, and we strongly
            discourage you from sharing it with anyone.</p>

        <p>The Jarvis Team</p>
    </div>
</body>
</html>
